/* theme */
:root {
	--color-active: #00cccb;
	--light-gray: #6c6c6c;
	--bold-text-color: #181e4b;
	--color-primary: #000000;

	--button-bg: var(--color-active);

	--nav-bg: #ffffff;
	--main-bg: #f2f2f2;

	--font-primary: "Poppins";
	--home-min-height: 760px;
	--hero-top-svg: #fff1da;

	/* card */
	--card-bg: rgba(255, 255, 255, 0.7);
	--card-bg-hover: rgba(255, 255, 255);
	--card-color-title: #000000;
	--card-color-description: #6c6c6c;
	--user-click-fill: #292d32;
}

:root[data-theme="dark"] {
	--color-active: #00fff7;
	--light-gray: #bcbcbc;
	--bold-text-color: #ffffff;
	--color-primary: #eaeaea;

	--button-bg: var(--color-active);

	--nav-bg: #121212;
	--main-bg: #0f0f0f;

	--font-primary: "Poppins", sans-serif;
	--home-min-height: 760px;
	--hero-top-svg: #1e1e1e;

	/* card */
	--card-bg: rgba(30, 30, 30, 0.7);
	--card-bg-hover: rgba(30, 30, 30);
	--card-color-title: #ffffff;
	--card-color-description: #dadada;
	--user-click-fill: #dadada;
}

body {
	font-family: var(--font-primary);
	font-weight: 300;
	color: var(--color-primary);

	/* fallback for browser that dont support dvh(dynamic vh) */
	min-height: 100vh;
	min-height: 100dvh;

	position: relative;
	background-color: var(--main-bg);
}

/* nav */
nav {
	display: grid;
	grid-template-columns: 185px 1fr 185px;
	padding: 1.6rem 2rem 1rem;
	background-color: var(--nav-bg);
	justify-content: space-between;
	background: none;
	position: relative;

	/* appears above every layer */
	z-index: 10;
}

.nav-left,
.nav-middle,
.nav-right {
	/* with respect to nav grid */
	place-self: center;

	/* items within nav */
	display: flex;
	align-items: center;
	gap: 1rem;
}

.nav-middle {
	gap: clamp(0.625rem, 2.461vw - 0.953rem, 4rem);
}

.nav-left__name {
	font-weight: 200;
	font-size: 2rem;
}

.tab-btn,
.theme-btn {
	background-color: inherit;
	border: none;
	cursor: pointer;
}

.tab-btn {
	color: var(--color-primary);
	font-weight: 400;
	font-size: 1.1rem;
}

.tab-btn:hover {
	color: var(--color-active);
}

/* this class is added via javascript to tabs that is currently active */
.active-tab {
	margin-bottom: -2px;
	border-bottom: 2px solid var(--color-active);
	color: var(--color-active);
}

/* main */
.main {
	padding: 0 1rem 2rem;
}

/* for debugging */
/* * {
	outline: 2px solid red;
} */
